
.field{
  margin-bottom: 20px;
}

.field label{
  display: block;
  margin: 0 0 5px 0;
  color: #ddd;
  font-weight: 700;
  font-size: 20px;
}

.field input{
  background-color: #aaaaaa00;
  outline: 0;
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid rgba(131, 129, 129, 0.152);
  color: #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}