html{
  box-sizing: content-box;
}

html * {
    box-sizing: inherit;
}
header {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 22px;
  box-shadow: 1px 2px 5px rgba(255,255,255, 0.3);
  z-index: 2;
  position: relative;
}

header input{
  outline: none;
  border: 1px solid rgba(238, 238, 238, 0.352);
  padding: 10px 5px; 
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0)
}